div {
    text-align: center;
}

h1 {
    font-size: 90px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#6495ed;
}

button {
    width: 300px;
    height: 100px;
    background-color: rgb(8, 184, 8);
    color: white;
}

p {
    font-size: 35px;
}

button:hover {
    background-color: rgb(228, 231, 59);
}